* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-family: Arial, sans-serif;
}

.main {
  width: 90%;
  max-width: 500px;
  min-height: 55%;
  padding: 20px;
  background-color: rgba(216, 238, 248, 0.934);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}

.heading {
  font-size: 2.5rem;
  color: #333;
  text-shadow: 3px 1px 1px  #4facfe;
}

.firstDiv {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

#cityName, #searchBtn, #currLocBtn {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#searchBtn, #currLocBtn {
  background-color: #4facfe;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

#currLocBtn:hover, #searchBtn:hover {
  transform: scale(1.05);
}

.firstDiv > p {
  font-size: 1.2em;
}

#otherInfo {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

#weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.2em;
}

.wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

#temp {
  font-size: 1.8em;
  font-weight: bold;
}

.value {
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 480px) {
.label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
h2{
  font-size: larger;
}
#searchBtn{
  width: 100px;
}
}